.btn,
sumbit {
  background-color: #29cbe8;
  border: none;
}

p {
  font-size: 17px;
}

img {
  display: block;
  margin: 0 auto;
}

ul {
  padding-left: 0;
  font-size: 17px;
}

li {
  list-style: none;
}

form {
  margin-bottom: 20px;
  margin-top: 20px;
}

a:hover {
  text-decoration: none;
}

#weatherDescription:first-letter {
  text-transform: capitalize;
}

#firstRow {
  color: white;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
}

#bigWeatherImage {
  width: 250px;
  margin-top: -25px;
  margin-right: 25px;
}

#weatherInfo {
  text-align: left;
}

.units .active {
  color: white;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

#weatherDetails {
  padding-top: 28px;
}
#nextDays {
  text-align: center;
  color: #19a2b8;
}

#openSource {
  text-align: center;
  font-size: 12px;
  margin-bottom: 30px;
  color: #19a2b8;
}

.container {
  max-width: 800px;
}

.card {
  word-wrap: normal;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
  border: none;
  border-radius: 20px;

  background: #29cbe8;
  background: -moz-linear-gradient(
    top,
    #29cbe8 0%,
    #bfe8f9 51%,
    #e4f5fc 91%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #29cbe8 0%,
    #bfe8f9 51%,
    #e4f5fc 91%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #29cbe8 0%,
    #bfe8f9 51%,
    #e4f5fc 91%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29cbe8', endColorstr='#e4f5fc',GradientType=0 ); /* IE6-9 */
}
.units {
  position: relative;
  font-size: 17px;
  top: -15px;
}
.temp {
  font-weight: bold;
  font-size: 20px;
}
